{% extends 'OverwatchHeroBundle:asset:layout.html.twig' %}

{% block title %}
	Versus
{% endblock %}

{% block content %}

 <p>{{ hero1.name }} VS {{ hero2.name }}</p>
 {{hero1.averageRating}} {{hero2.averageRating}}
{% endblock %}