<html>
    <head>
        {% block head_metas %}
              <meta charset="utf-8">
        {% endblock %}
        <title>{% block title %}Projet Critic{% endblock %}Projet Critic</title>
    </head>
    <body>
        {% block content '' %}
    </body>
</html>