{% extends '@OverwatchHero/asset/layout.html.twig' %}

{% block title %}
	Admin
{% endblock %}
	
{% block content %}
	Hello Admin!		<br>
	<a href="{{ path('admin_hero_index') }}">Gérer les héros</a><br>
	<a href="{{ path('admin_user_index') }}">Gérer les utilisateurs</a><br>
	<a href="{{ path('admin_review_index') }}">Gérer les reviews</a><br>
	<a href="{{ path('overwatch_list') }}">Retour à la liste</a>
{% endblock %}
