<html>
<body>

    <head>
        <meta charset="utf-8">
        <title>Détails du Héros</title>
    </head>
    <body>
        <a href="{{ path('overwatch_list') }}">Retour à la liste</a>
        <h1>{{ hero.heroName }}  </h1>

</body>
