{% extends 'OverwatchHeroBundle:asset:layout.html.twig' %}
{% block title %}
	Détails du Héros
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="css/detail.css"/>
{% endblock %}
{% block content %}

	<a id="classTest" href="{{ path('overwatch_list') }}">Retour à la liste</a>
        	<h1>{{ hero.name }}  </h1>
        	<p id="idTestText">
        		Test text random
        	</p>
{% endblock %}
       

