{% extends 'OverwatchHeroBundle:asset:layout.html.twig' %}

{% block title %}
	Détails de la Category
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="css/detail.css"/>
{% endblock %}

{% block content %}
	
        	<h1>{{ category.categoryName }}</h1>
        	
<table>
	<tr>
		<th>
	    	</th>
	</tr>
	{% for currentHero in category.heroes %}
	<tr>
		<td>
			<a href="{{ path('overwatch_detail', {heroId:currentHero.id}) }}">
				{{ currentHero.name }}

		</td>
	</tr>
	{% else %}
	<tr>
		<td>Aucun Héros Trouvé</td>
	</tr>
	{% endfor %}
	
</table>
<button type="button" class="btn btn-outline-primary">
	<a id="classTest" href="{{ path('overwatch_list') }}">Retour à la liste</a>
</button>

{% endblock %}
       