<html>

<body>
    <h1>Liste des Heros Overwatch</h1>
	{% for currentCategory in categories %}
	    <table>
		    <tr>
		    	<th>
		    		{{ currentCategory.categoryName }}
		    	</th>
			</tr>
			
			{% for currentHero in heroes if currentHero.id in currentCategory.heroIds %}
				<tr>
					<td>
						<a href="{{ path('overwatch_detail', {heroId:currentHero.id}) }}">
							{{ currentHero.name }}
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td>Aucun Héros Trouvé</td>
				</tr>
			{% endfor %}
		</table>
	{% endfor %}
</body>
