{% extends 'OverwatchHeroBundle:asset:layout.html.twig' %}

{% block title %}
	Liste des Heros Overwatch
{% endblock %}

{% block content %}
	<h1><i class="fa fa-gamepad fa-5" aria-hidden="true" ></i>Notez vos héros favoris ! </h1>
		<div class="row">
	{% for rows in categories|batch(2) %}
		{% for currentCategory in rows %}
			     {% include '@OverwatchHero/ListHeroes/herodisplay.html.twig' %}
		{% endfor %}
	{% endfor %}
	</div>
</div>
{% endblock %}
