{% extends '@OverwatchHero/asset/layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <div class="center">
       <h1><i class="fa fa-key"></i> Inscription</h1>
 <div class="card marginAuto" style="width: 25rem;">
 	{% form_theme register_form 'formtheme.html.twig' %}
    {{ form(register_form) }}
 </div>
</div>
{% endblock %}