{% extends '@OverwatchHero/asset/layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1><i class="fa fa-user"></i> Inscription</h1>
    </div>
    
    {{ form(register_form) }}
{% endblock %}